[Unit]
Description=Mount nfs openproject-backup
Requires=vpn-really-up.service
After=vpn-really-up.service

[Mount]
Where=/nfs/openproject_backup
What=10.1.1.8:/openproject-backup
Options=nosuid,nodev,intr,rsize=4096,wsize=4096,fsc
Type=nfs
TimeoutSec=180s

[Install]
WantedBy=multi-user.target